doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title World Cup

    // build:css styles/styles.css
    //- Check out 'src/bower_components/prism/themes/' for available themes
    link(rel='stylesheet', type='text/css', href='bower_components/prism/themes/prism-tomorrow.css')
    link(rel='stylesheet', type='text/css', href='styles/main.css')
    // endbuild

  body

    article

      h1 Perantau's
      ul
       li  Faisal Abdau
       li  Fazrul Haque
       li  Gom Gom Parulian
       li  Janriadi Lumban gaol
      section
        h1 World Cup FIFA 
        hr
        img(width='400px' height='300px' src='fifa.jpg')
      section
        h5 Piala Dunia adalah kompetisi sepak bola International yang diselenggarakan oleh  Fédération Internationale de Football Association(FIFA), Kejuaraan ini telah diselenggarakan setiap empat tahun sekali sejak turnamen 1930, kecuali pada tahun 1942 dan 1946, yang tidak diselenggarakan karena Perang Dunia II. Pertandingan sepak bola internasional pertama di dunia sebelum adanya piala dunia ialah dimainkan di Glasgow pada tahun 1872 antara Skotlandia dengan Inggris. 
        hr
        img(width='400px' height='300px' src='fifa1.jpg')

      section
        h5 FIFA sendiri didirikan tahun 1904, didirkan oleh Robert Guérin (1876 – 1952) dan Presiden FIFA sekarang ialah Sepp Blater yang akan pensiun akhir 2014 ini. saat FIFA pertama kali mengadakan piala dunia di Uruguay, kompetisi ini hanya diikuti oleh 13 tim, dan dibabak final untuk pertama kalinya mempertemukan negara antara Argentina dan Uruguay dimana uruguay menjadi juara untuk pertama kalinya unggul dengan skor 4-2. 
        hr
        img(width='200px' height='100px' src='uruguay.jpg')
        img(width='200px' height='100px' src='argentina.jpg')
      section
        h1 AND NOW 
      section
        h1 World Cup FIFA Brazil 
        hr
        img(width='400px' height='300px' src='2.jpg')
      section
        h3 Sebanyak tiga puluh dua (32) tim nasional telah masuk kualifikasi berikut beberapa Informasi dari beberapa zona seluruh dunia 
      section
        h3 Zona Conmebol 
        hr
        ul
          li
            li brazil 
            li Argentina  
            li Kolombia 
            li Chili 
            li Ekuador 
            li Kamerun 
            li Uruguay 
      section
        h3 Zona AFC 
        hr
        ul
          li
            li Jepang 
            li Australia  
            li Iran 
            li Korea Selatan 
      section
        h3 Zona Concacaf 
        hr
        ul
          li
            li Amerika Serikat 
            li Kosta Rika 
            li Mexico 
            li Honduras 
      section
        h3 Zona Afrika 
        hr
        ul
          li
            li Nigeria  
            li Pantai Gading 
            li Ghana 
            li Aljazair 
      section
        h3 Zona Eropa 
        hr
        hr
        ul
          li
            li Belanda, Italia, Belgia, Jerman, Swiss, Rusia, Bosnia, Inggris, Spanyol, Kroasia, Perancis, Portugal dan Yunani 
      section
        h3 Daftar peserta Piala Dunia Brazil 
        hr
        hr
        hr
        p Grup A
        hr
        ul
            li1 Brazil 
            li1 Kroasia
            li1 Meksiko
            li1 Kamerun  
        hr
        p Grup B
        hr
        ul
            li1 Spanyol 
            li1 Belanda
            li1 Cili
            li1 Australia  
        hr
        p Grup C
        hr
        ul
            li1 Kolombia 
            li1 Yunani
            li1 Pantai Gading
            li1 Jepang
        hr
        p Grup D
        hr
        ul
            li1 Uruguay 
            li1 Kosta Rika
            li1 Inggris
            li1 Italia
      section
        h3 Daftar peserta Piala Dunia Brazil 
        hr
        hr
        hr
        p Grup E
        hr
        ul
            li1 Swiss
            li1 Ekuador
            li1 Prancis
            li1 Honduras  
        hr
        p Grup F
        hr
        ul
            li1 Argentina 
            li1 Bosnia-Herzegovina
            li1 Iran
            li1 Nigeria  
        hr
        p Grup G
        hr
        ul
            li1 Jerman 
            li1 Portugal
            li1 Ghana
            li1 Amerika Serikat
        hr
        p Grup H
        hr
        ul
            li1 Belgia 
            li1 Aljazair
            li1 Rusia
            li1 Korea Selatan
      section
        h3 Jadwal Pertandingan Piala Dunia 2014
      img(width='10px' height='10px' src='pd.jpg')  
      section
        hr 
        ul
          li
            p strong Enjoy! :)
            a(href='https://www.facebook.com/groups/tid.mikroskil/')  @TI D Pagi

    // build:js scripts/scripts.js
    script(src='bower_components/bespoke.js/dist/bespoke.min.js')
    script(src='bower_components/bespoke-keys/dist/bespoke-keys.min.js')
    script(src='bower_components/bespoke-touch/dist/bespoke-touch.min.js')
    script(src='bower_components/bespoke-bullets/dist/bespoke-bullets.min.js')
    script(src='bower_components/bespoke-scale/dist/bespoke-scale.min.js')
    script(src='bower_components/bespoke-hash/dist/bespoke-hash.min.js')
    script(src='bower_components/bespoke-progress/dist/bespoke-progress.min.js')
    script(src='bower_components/bespoke-state/dist/bespoke-state.min.js')
    script(src='bower_components/bespoke-forms/dist/bespoke-forms.min.js')
    script(src='bower_components/prism/prism.js')
    script(src='scripts/main.js')
    // endbuild