doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title World Cup

    // build:css styles/styles.css
    //- Check out 'src/bower_components/prism/themes/' for available themes
    link(rel='stylesheet', type='text/css', href='bower_components/prism/themes/prism-tomorrow.css')
    link(rel='stylesheet', type='text/css', href='styles/main.css')
    // endbuild

  body

    article

      section
        h1 World Cup FIFA Brazil 
        hr
        img(width='400px' height='300px' src='2.jpg')

      section
        h3 Daftar peserta Piala Dunia Brazil 
        p Grup A
        pre
            li brazil
            li Kroasia
            li Meksiko
             li Kamerun  
    
      p Unggulan kami di Grup A Piala Dunia Brazil adalah
      img(width='200px' height='200px' src='brazil.jpg')
      
      section
        h3 Daftar peserta Piala Dunia Brazil 
        p Grup B
        pre
            li Spanyol 
            li Belanda
            li Cile
            li Australia  
        
      p Unggulan kami di Grup B Piala Dunia Brazil adalah
      img(width='200px' height='200px' src='spanyol.jpg')
      
      section
        h3 Daftar peserta Piala Dunia Brazil 
        p Grup C
        pre
            li Kolombia 
            li Yunani
            li Pantai Gading
            li Jepang 

      section
        

      section
        h2 Syntax Highlighting
        h3 Powered by <a href="http://twitter.com/LeaVerou">Lea Verou</a>'s <a href="https://github.com/LeaVerou/prism">Prism</a>
        hr
        pre
          code.language-javascript.
            bespoke.from('article', {
              keys: true,
              touch: true,
              hash: true,
              state: true,
              bullets: 'li, .bullet'
            });

      section(data-bespoke-hash='named-route')
        h2 Named Route
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-hash">bespoke-hash</a>
        p Look up! This route has been named with a <em>'data-bespoke-hash'</em> attribute
        
        hr
        ul
          li
            strong Enjoy! :)
            a(href='http://twitter.com/markdalgleish')  @TI D Pagi

    // build:js scripts/scripts.js
    script(src='bower_components/bespoke.js/dist/bespoke.min.js')
    script(src='bower_components/bespoke-keys/dist/bespoke-keys.min.js')
    script(src='bower_components/bespoke-touch/dist/bespoke-touch.min.js')
    script(src='bower_components/bespoke-bullets/dist/bespoke-bullets.min.js')
    script(src='bower_components/bespoke-scale/dist/bespoke-scale.min.js')
    script(src='bower_components/bespoke-hash/dist/bespoke-hash.min.js')
    script(src='bower_components/bespoke-progress/dist/bespoke-progress.min.js')
    script(src='bower_components/bespoke-state/dist/bespoke-state.min.js')
    script(src='bower_components/bespoke-forms/dist/bespoke-forms.min.js')
    script(src='bower_components/prism/prism.js')
    script(src='scripts/main.js')
    // endbuild